// @use 'sass:math';
// @use 'sass:list';
// @use 'sass:map';


$max-grids : 4 !default;

$max-grids : $max-grids + 0;

.#{$prefix}grid {
    display: grid;
}

.#{$prefix}grid-1 {
    grid-template-columns: 1fr;
}

@for $i from 2 through $max-grids {
    .#{$prefix}grid-#{$i} {
        grid-template-columns: repeat( #{$i}, 1fr );
    }
}

@for $i from 1 through $max-grids {
    .#{$prefix}grid-col-span-#{$i} {
        grid-column: span #{$i};
    }
}

@for $i from 1 through $max-grids {
    .#{$prefix}grid-row-span-#{$i} {
        grid-row: span #{$i};
    }
}


/* for beakpoints */
@each $bp, $size in $media-breakpoints {

    @media (min-width: #{$size}) {

        .#{$prefix}grid-1\@#{$bp} {
            grid-template-columns: 1fr;
        }

        @for $i from 2 through $max-grids {
            .#{$prefix}grid-#{$i}\@#{$bp} {
                grid-template-columns: repeat( #{$i}, 1fr );
            }
        }

        @for $i from 1 through $max-grids {
            .#{$prefix}grid-col-span-#{$i}\@#{$bp} {
                grid-column: span #{$i};
            }
        }

        @for $i from 1 through $max-grids {
            .#{$prefix}grid-row-span-#{$i}\@#{$bp} {
                grid-row: span #{$i};
            }
        }
    }
} 


