// @use 'sass:list';
// @use 'sass:math';

@if $framework-beaver == 1 {

    /**
    * Beaver Builder Button
    */

    .fl-module-button {

        @for $i from 1 through length($radius-steps) {
            $step: nth($radius-steps, $i);
            $power: $i - $radius-base-index;
            &.#{$prefix}rounded-#{$step} {

                a {
                    &.fl-button,
                    &.fl-button:hover {
                        border-radius: var(--rounded-#{$step});
                    }
                }
            }
        } 
    }

}