// COLORS
$action-hex 	: #e56c70 !default;
$action-h       : 358 !default;
$action-s       : 70% !default;
$action-l       : 66% !default;
$action-hover-h : 358 !default;
$action-hover-s : 70% !default;
$action-hover-l : 1.15 !default;

$primary-hex 	: #e56c70 !default;
$secondary-hex 	: #6c5879 !default;
$accent-hex 	: #eaac8b !default;
$base-hex 		: #344f6f !default;
$shade-hex 		: #000000 !default;
$black-hex 		: #000000 !default;
$white-hex 		: #ffffff !default;

// contextual

$success-hex 	: #29A745 !default;
$danger-hex 	: #dc3545 !default;
$warning-hex 	: #ffc10a !default;
$info-hex 		: #18a2b8 !default;