$box-shadow-small: 0 2px 8px rgba(0,0,0,0.08) !default;
$box-shadow-medium: 0 5px 15px rgba(0,0,0,0.08) !default;
$box-shadow-large: 0 14px 25px rgba(0,0,0,0.16) !default;
$box-shadow-xlarge: 0 28px 50px rgba(0,0,0,0.16) !default;