@use 'sass:math';
@use 'sass:list';

/**
 * rounded styles
 */

@for $i from 1 through length($radius-steps) {
    $step: list.nth($radius-steps, $i);
    .#{$prefix}rounded-#{$step} {
        border-radius: var(--rounded-#{$step});
    }
    .#{$prefix}rounded-tl-#{$step} {
        border-top-left-radius: var(--rounded-#{$step});
    }
    .#{$prefix}rounded-tr-#{$step} {
        border-top-right-radius: var(--rounded-#{$step});
    }
    .#{$prefix}rounded-bl-#{$step} {
        border-bottom-left-radius: var(--rounded-#{$step});
    }
    .#{$prefix}rounded-br-#{$step} {
        border-bottom-right-radius: var(--rounded-#{$step});
    }
} 

.#{$prefix}rounded-50 {
    border-radius: 50%;
}
.#{$prefix}rounded-tl-50 {
    border-top-left-radius: 50%;
}
.#{$prefix}rounded-tr-50 {
    border-top-right-radius: 50%;
}
.#{$prefix}rounded-bl-50 {
    border-bottom-left-radius: 50%;
}
.#{$prefix}rounded-br-50 {
    border-bottom-right-radius: 50%;
}