@use 'sass:list';
@use 'sass:math';

/**
 * Font styles
 */

// FONT STYLES
@for $i from 1 through length($type-steps) {
    $step: list.nth($type-steps, $i);
    $power: $i - $type-base-index;
    $min: $type-base-min * math.pow($type-scale-min, $power);
    $max: $type-base-max * math.pow($type-scale-max, $power);
    .#{$prefix}font-size-#{$step} {
        font-size: var(--font-size-#{$step});
    }
} 
