.#{$prefix}box-shadow-small { box-shadow: $box-shadow-small; }
.#{$prefix}box-shadow-medium { box-shadow: $box-shadow-medium; }
.#{$prefix}box-shadow-large { box-shadow: $box-shadow-large; }
.#{$prefix}box-shadow-xlarge { box-shadow: $box-shadow-xlarge; }